:markdown
  # About MinyanMate

  Jews must pray three times every day, and it is best to pray in a group of at
  least ten Jewish men, this is called a Minyan. Minyans are standing events
  run at a regular time and place, organised by Rabbis, Rebbetzins, or members
  of the community. These Organisers must ensure that there are at least 10
  attendees in order to "make the Minyan". Thank g-d must Minyans are very
  healthy and ten men can be relied on without prior organisation; however some
  Minyans that are at smaller synagogues, in areas with low Jewish population,
  or that are just starting must check that they have 10 men attending every
  day, find extra attendees if they are short, or inform people that there will
  not be a Minyan if they cannot ensure 10 people. For participants in the year
  of mourning after the death of a parent a Minyan is very important, so giving
  people the chance to attend an alternative Minyan if there is a chance of not
  making a quorum is crucial.

  # Opportunity

  Significant effort, and a lot of phone calls, SMSs, begging and cajoling,
  goes into organising a Minyan. A large majority of this effort is contacting
  individuals to see if they are attending, keeping track of the people
  attending, and informing attendees whether there will be a quorum. Automated
  communication with potential attendees, and of tracking responses could
  reduce this effort, making life easier for Minyan organisers. This
  functionality may later also be used for other semi-regular events attended
  casually attended by a community of participants that require a minium quorum
  to function; pick-up games and sports. Basketball and soccer would be early
  candidates.

  # Objectives

  The increase the number of Minyans and number of people attending Minyans in the world, via:

  * Reducing time spent each week by organisers
  * Better communication with attendees
  * Increase the reliability of Minyans
  * Reducing the cost of communication (especially SMS) about Minyans by
    consolidating into a single high-volume low-cost gateway.

  # Customers

  The organisers of Minyans are normally time-poor, and technically savvy.
  Organisers are either Rabbis of smaller shuls, or lay-people. Rabbis of
  smaller shuls have no staff, except for their wife, who is normally managing
  regular guests, and lots of administration alongside running a large family.
  Lay-people who organise Minyans are normally quite professionally successful
  (Because if you can organise a group of Yids you can organise anything) and
  actively participate in many other aspects of the community. Both groups have
  very high level of Smart Phone ownership. Attendees of Minyans range widely
  from retirees, professionals to community workers. Many will be quite
  tech-savvy, but others may not even own mobile phones.

  # Vision

  * __For__ Organisers and Attendees of Minyans
  * __Who__ require a more efficient method of organising Minyans
  * __The__ MinyanMate service
  * __Is__ an online web-service
  * __That__ automate the communication, and attendance tracking of a minyan
    using multiple channels inclduing PC, email, SMS, RSS, and smart phone
  * __Unlike__ current manual organisation by phone and email
  * __Our__ product allows organsisers to easily communciate with all
    attendees, eliminates the effort of tracking attendance, and automatically
    inform attendees if a Minyan is likely

  # Major Features

  * Create of Minyans based on thier time, locatiom, and regularity
  * Recording RSVPs for a Minyan
  * Automatically informing participants when a Minyan is confirmed
  * Automatically or manually prompting for more attendees when time is running
    short and there is not yet a confirmed quorum
  * Managing regular vs. occasional attendees of Minyans to know who can be
    relied on to come wihtout and RSVP and who can be asked to attend when
    numbers run short
  * Communicating with attendess and organisers via:
    * Web
    * EMail
    * SMS
    * Smart-Phones
    * RSS

  # Scope

  * Initial website that allows
  * Organisers to create minyans
  * Organisers to track attendance at Minyans
  * Attendees to confirm their attendance at a Minyan
  * Attendees to cancel their attendance at a minyan
  * Attendees to nominate themselves as a regular for a Minyan
  * Organisers to nominate Attendess as regulars at Minyans
