:markdown
  # Acknowledgements

  This site wouldn't have been possible without a ton of free and great
  software and services. The developer and designer had not done any
  coding in at least 10 years when he started, and was very pleasntly
  suprised to find the standard open-source web development stack was so
  much better than when he was young lad.

  This softare is built on/with:

  * Ubuntu Linux
  * Ruby
  * Rails
  * Atlassian BitBucket
  * Git
  * GitHub
  * gVim
  * Bootstrap by Twitter
  * jQuery
  * HAML
  * Less
  * Typeahead by Twitter
  * Omniauth for Google/Facebook Authentication
  * Markdown for "Markdown" support
  * Hosted on Heroku (Or it will be.)
  * Front Page graphic made with PiktoChart
