-#
  This has to do a few things:
  First copy whatever the user has typed into the autofill so far into the name
  Next update the hidden event id so that on resubmit we add the yid to the
  right group.
  Next actually show the modal.
/ Pre set the name
$('#yid_name').val($('#yidTypeAhead#{@event.id}').val());
/ Set the event id
$('#event_id').val(#{@event.id});
/ Display the modal
$('#addYid').modal('show')
