.minyan
  .minyan_title= minyan.title
  .events
    =render                                     |
      partial: "events/owner_event",     |
      collection: minyan.upcoming(5),           |
      as: :event
