= btn new_minyan_path, "plus", "New Minyan"
.miynan_list
  = render partial: "owner_minyan", collection: @minyans, as: :minyan
-#
  Need to have a modal div here to pop up and be activated by JS when we add
  new yids.
#addYid.modal.fade{"aria-hidden" => "true", "data-keyboad" => "true",            |
  "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}     |
  = render partial: "popup_add_yid", locals: {yid: @yid, event_id: ""}
