-# We use 'id=xx" instead of #id because on some pages there are multiple star
  buttons for the same minyand and they all have the same ID. # only returns the
  first item, id= returns them all
- if @minyan.is_regular?(current_user)
  $("[id=star_#{@minyan.id}]").addClass('glyphicon-star');
  $("[id=star_#{@minyan.id}]").removeClass('glyphicon-star-empty');
- else
  $("[id=star_#{@minyan.id}]").removeClass('glyphicon-star');
  $("[id=star_#{@minyan.id}]").addClass('glyphicon-star-empty');

