/
  Takes 3 arguments
  Link: Link to
  Icon: Name of glyphicon from bootstrap to show
  Text: Text to display in large screen sizes
%a.btn.btn-default.glyphicon{ :href => path, :class => "glyphicon-#{icon}"}
  =text
