- flash.each do |key, value|
  - alert_class = (key == :notice) ? "alert-success" : "alert-danger"
  %div.alert.alert-dismissable{:class => "#{alert_class}"}
    = value
    %button.close{ :type => :button, "data-dismiss" => :alert, "aria-hidden" => :true}
      &times;

